
.yee-datatable-layer {
    border: 1px #e6e6e6 solid;
    background: #FFF;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .05);
    box-shadow: 0 0 2px rgba(0, 0, 0, .05);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.yee-datatable-fixed {
    position: relative;
    width: 100%;
}

.yee-datatable-fixed.resize {
    overflow-x: auto;
}

.yee-datatable-fixed .rc-handle {
    position: absolute;
    width: 5px;
    cursor: ew-resize;
    margin-left: -3px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    top: 0;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.yee-datatable {
    font-size: 12px;
    border-collapse: collapse;
    margin: 0px 0px -1px 0px;
    background: #FFF;
    float: left;
    width: 100%;
}

.yee-datatable tbody tr td:last-child {
    border-right: none;
}

.yee-datatable-layer::-webkit-scrollbar, .yee-datatable-fixed::-webkit-scrollbar { /*滚动条整体部分，其中的属性有width,height,background,border等（就和一个块级元素一样）（位置1）*/
    width: 8px;
    height: 8px;
    border-radius: 10px;
}

.yee-datatable-layer::-webkit-scrollbar-track, .yee-datatable-fixed::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 2px;
}

.yee-datatable-layer::-webkit-scrollbar-thumb, .yee-datatable-fixed::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 2px;
}

.yee-datatable-layer::-webkit-scrollbar-thumb:hover, .yee-datatable-fixed::-webkit-scrollbar-thumb:hover {
    background: #a4a4a4;
}

.yee-datatable-layer::-webkit-scrollbar-corner, .yee-datatable-fixed::-webkit-scrollbar-corner {
    background: #f6f6f6;
}

.yee-datatable.rc-not-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.yee-datatable-layer .yee-datatable-header {
    border-bottom: 1px #e6e6e6 solid;
    height: 39px;
    margin-bottom: -41px;
    background: #F2F2F2;
}

.yee-datatable thead th {
    border: 1px #e6e6e6 solid;
    height: 39px;
    padding: 0px 10px;
    background: #F2F2F2;
    line-height: 18px;
    font-weight: 700;
    color: #333;
    white-space: nowrap;
}

.yee-datatable thead tr th {
    border-left: none;
}

.yee-datatable thead th.order {
    cursor: pointer;
}

.yee-datatable thead th.order i:after {
    display: inline-block;
    font-family: 'IcoFont' !important;
    content: "\eb5b";
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    float: right;
    color: #999;
}

.yee-datatable thead th.order.down i:after {
    content: "\eb21";
}

.yee-datatable thead th.order.up i:after {
    content: "\eb24";
}

.yee-datatable.resize {
    width: auto;
    margin: 0px 0px 0px 0px;
}

.yee-datatable thead tr th:last-child {
    border-right: none;
}

.yee-datatable.resize tbody tr td {
    border-right: 1px #e6e6e6 solid;
}

.yee-datatable.resize thead tr th {
    border-right: 1px #e6e6e6 solid;
}

.yee-datatable.fixed-left {
    position: absolute;
    left: 0px;
    top: -1px;
    -webkit-box-shadow: 2px 0px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 2px 0px 2px rgba(0, 0, 0, .05);
    box-shadow: 2px 0px 2px rgba(0, 0, 0, .05);
    width: auto;
    z-index: 3;
}

.yee-datatable.fixed-right {
    position: absolute;
    right: 0;
    top: -1px;
    -webkit-box-shadow: -2px 0px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: -2px 0px 2px rgba(0, 0, 0, .05);
    box-shadow: -2px 0px 2px rgba(0, 0, 0, .05);
    width: auto;
    z-index: 3;
}

.yee-datatable tbody td {
    border-top: 1px #e6e6e6 solid;
    border-bottom: 1px #e6e6e6 solid;
    height: 36px;
    line-height: 36px;
    padding: 0px 10px;
    font-weight: normal;
    white-space: nowrap;
    border-left: none;
}

.yee-datatable tbody td .yee-intable {
    width: 100%;
    padding: 0;
    border: 0;
}

.yee-datatable tbody td .yee-intable td {
    border-top: none;
    border-bottom: none;
}

.yee-datatable tbody td .yee-intable tr.first-line {
    background: #f9f9f9;
}

.yee-datatable tbody td .yee-intable tr.second-line {
    border-top: 1px #e6e6e6 dotted;
}

.yee-datatable tbody td img {
    vertical-align: middle;
    margin: 3px;
}

.yee-datatable.fixed-right tbody tr td {
    border-left: 1px #e6e6e6 solid;
    border-right: none;
}

.yee-datatable.fixed-right thead tr th {
    border-left: 1px #e6e6e6 solid;
    border-right: none;
}

.yee-datatable tr.hover td {
    background: #f5faff
}

.yee-datatable tr.selected td {
    background: #F0F6FF;
}
