@import url("plugin.css");
@import url("form.css");

body, html {
    margin: 0;
    padding: 0;
    background: #F9F9F9
}

a {
    color: #333
}

a:hover {
    color: #E84C3D
}

.yeeui-content {
    position: relative;
    padding: 10px 20px;
}

.yeeui-dialog {
    position: relative;
    padding: 10px;
}

.yeeui-caption {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e4eaec;
    font-size: 18px;
    padding: 0 28px
}

.yeeui-caption a.s-back, .caption a.s-back {
    border: 1px solid #62b3ff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 23px;
    display: inline-block;
    text-align: center
}

.yeeui-caption a.s-back i, .caption a.s-back i {
    color: #62b3ff
}

.yeeui-tabs {
    margin: 0 0 10px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #62b3ff
}

.yeeui-tabs ul {
    float: left
}
.yeeui-tab-right{
    float: right;
    line-height: 35px;
    height: 35px;
}
.yeeui-tabs ul li {
    height: 35px;
    line-height: 35px;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    color: #707070;
    float: left;
    margin-right: 3px;
    background-color: #e5e5e5;
    cursor: pointer
}

.yeeui-tabs ul li:last-child {
    margin-right: 0
}

.yeeui-tabs ul li.curr {
    background-color: #62b3ff;
    color: #fff
}

.yeeui-tabs ul li a {
    color: #707070;
    display: block;
    padding: 0 20px
}

.yeeui-tabs ul li.curr a {
    color: #fff
}

.yeeui-optbtns {
    line-height: 36px;
    padding: 0 0 8px 0px;
    color: #777;
}

.yeeui-optbtns .caption {
    font-size: 18px;
    color: #333;
}

.yeeui-optbtns:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.yeeui-list {
    margin-bottom: 15px;
    padding: 0;
    color: #606060;
}

.yeeui-search {
    padding: 5px 15px;
    border: 1px solid #eaeaea;
    background: #fff;
    color: #606060;
    line-height: 36px;
    border-bottom: none;
}

.yeeui-search .form-box {
    display: inline-block;
    overflow: hidden;
    margin-right: 0px;
    vertical-align: middle;
    text-align: left;
    line-height: 36px;
}

.yeeui-search .form-label {
    display: inline-block;
    margin-right: 10px;
}

.yeeui-search .form-inp.snumber {
    width: 40px
}

.yeeui-search .form-inp.nnumber {
    width: 30px
}

.yeeui-search .form-inp.number {
    width: 70px
}

.yeeui-search .form-inp.text {
    width: 130px
}

.yeeui-search .form-inp.stext {
    width: 110px
}

.yeeui-search .form-inp.ntext {
    width: 80px
}

.yeeui-search .form-inp.ltext {
    width: 240px
}

.yeeui-search .form-inp.datetime {
    width: 120px
}

.yeeui-search .form-inp.date {
    width: 100px
}

.yeeui-search .senior-item {
    display: none;
}

.yeeui-search.senior .senior-item {
    display: block;
    text-align: left;
}

.senior-btn i:before {
    font-weight: normal;
    font-style: normal;
    font-family: 'IcoFont' !important;
    content: "\eb53";
}

.yeeui-search.senior .senior-btn i:before {
    content: "\eb56";
}

.yeeui-search a.form-btn, .yeeui-search input.form-btn {
    margin-right: 5px;
    padding: 0px 10px;
}

.yeeui-list-table {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .05);
    box-shadow: 0 0 2px rgba(0, 0, 0, .05);
    background: #FFF;
    border-collapse: collapse;

}

.yeeui-show-table {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .05);
    box-shadow: 0 0 2px rgba(0, 0, 0, .05);
    background: #FFF;
    border-collapse: collapse;
    width: 100%;
}

.yeeui-list-table th {
    background: #f9f9f9;
    line-height: 18px;
    padding: 10px 5px;
    font-weight: 700;
    border: 1px solid #eaeaea;
    border-top: 2px solid #dbdbdb;
    color: #333;
}

.yeeui-show-table th {
    background: #f9f9f9;
    line-height: 18px;
    padding: 10px 5px;
    font-weight: 700;
    border: 1px solid #eaeaea;
    color: #333;
}

.yeeui-select-table th {
    background: #f9f9f9;
    line-height: 18px;
    padding: 8px 5px;
    font-weight: 700;
    border: 1px solid #eaeaea;
    color: #333;
}

.yeeui-select-split {
    background: url("../images/zhjt.png") center center no-repeat;
}

.yeeui-select-table td {
    padding: 5px;
    line-height: 26px;
    border: 1px solid #eaeaea;
    word-break: keep-all
}

.yeeui-select-table tr:hover td {
    background: #f5faff;
}

.yeeui-list-table th.sort {
    cursor: pointer;
}

.yeeui-list-table th.sort i:after {
    display: inline-block;
    font-family: 'IcoFont' !important;
    content: "\eb5b";
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    float: right;
    color: #999;
}

.yeeui-list-table th.sort.down i:after {
    content: "\eb21";
}

.yeeui-list-table th.sort.up i:after {
    content: "\eb24";
}

.yeeui-list-table td {
    padding: 5px;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #eaeaea;
    word-break: keep-all
}

.yeeui-show-table td {
    padding: 5px;
    line-height: 20px;
    border: 1px solid #eaeaea;
    word-break: keep-all
}

.yeeui-list-table tr.toggle:hover td {
    background: #f5faff
}

.yeeui-list-table tr.toggle:hover td input.hide {
    border: 1px solid #f5faff
}

.yeeui-list-table tr.toggle:hover td input.hide:focus {
    border: 1px solid #62b3ff
}

/*按钮公共样式*/
.yee-btn {
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    display: inline-block;
    padding: 2px 7px;
    border: solid 1px #c1c1c1;
    border-radius: 4px;
    margin: 0;
    background-color: #FFF;
    color: #777;
    opacity: 0.9;
}

.yee-btn i {
    margin: 0 2px 0 0;
    text-align: center;
    font-size: 14px;
}

.yee-btn.add {
    border: solid 1px #ec5051;
    color: #fff;
    background: #ec5051;
}

.yee-btn.add:hover {
    color: #fff;
    border: solid 1px #ec5051;
    background-color: #ec5051;
}

.yee-btn.edit:hover {
    border: solid 1px #31b4e1;
    color: #31b4e1
}

.yee-btn.del:hover {
    border: solid 1px #ec5051;
    color: #ec5051
}

.yee-btn.show:hover {
    border: solid 1px #29c25f;
    color: #29c25f
}

.yee-btn.small {
    line-height: 18px;
    height: 18px
}

.yee-btn.big {
    line-height: 26px;
    height: 26px
}

.yee-btn:hover {
    opacity: 1;
}

.yee-btn.disabled, .yee-btn.disabled:hover, .yee-btn[disabled], .yee-btn[disabled]:hover {
    background: #f7f7f7;
    color: #999;
    border: solid 1px #e1e1e1;
}

.form-box .yee-btn {
    line-height: 24px;
    height: 24px;
    margin-left: 2px;
    vertical-align: middle;
}

.yee-refresh {
    height: 22px;
    line-height: 22px;
    padding: 2px 7px;
    color: #777;
    display: inline-block;
    border-radius: 4px;
    position: relative;
    padding-left: 20px
}

.yee-refresh i {
    margin: 0;
    text-align: center;
    position: absolute;
    left: 4px;
    top: 7px;
    transition: transform .8s linear 0s;
    -o-transition: -o-transform .8s linear 0s;
    -webkit-transition: -webkit-transform .8s linear 0s
}

.yee-refresh:hover {
    color: #000;
    background-color: #e1e1e1
}

input.secrch-inp {
    border: 1px solid #dbdbdb;
    border-radius: 0;
    float: left;
    margin-right: 0;
    vertical-align: middle
}

button.search-btn, input.search-btn {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border: 1px solid #dbdbdb;
    background: #f1f1f1 url(../images/admin-icon.png) no-repeat;
    background-position: -116px -325px;
    float: left;
    border-left: 0;
    padding: 0;
    cursor: pointer
}

/*分页样式*/
.yeeui-pagebar {
    transition: all .15s ease-in;
    width: 100%;
    padding: 10px 0;
    height: 24px
}

.yeeui-pagebar .pagebar {
    float: left
}

.yeeui-pagebar .pagebar .break, .yeeui-pagebar .pagebar a, .yeeui-pagebar .pagebar b {
    text-decoration: none;
    color: #666;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    float: left;
    margin-right: 3px;
    padding: 2px 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
    cursor: pointer
}

.yeeui-pagebar .pagebar input.inp {
    height: 24px;
    line-height: 24px;
    float: left;
    width: 40px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    margin-right: 3px
}

.yeeui-pagebar .pagebar .break {
    background: 0 0;
    cursor: default
}

.yeeui-pagebar .pagebar a {
    border: 1px solid #e1e1e1;
    background-color: #FFF
}

.yeeui-pagebar .pagebar a:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, .2)
}

.yeeui-pagebar .pagebar b {
    border: 1px solid #e1e1e1;
    background: 0 0;
    background-color: #e1e1e1;
    color: #FFF
}

.yeeui-pagebar .pagebar_info {
    float: right;
    line-height: 22px
}

.yeeui-information {
    border: 1px #cEeFFF solid;
    border-radius: 3px;
    background: #f5faff;
    padding: 10px;
    line-height: 20px;
    margin-bottom: 15px;
    vertical-align: middle;
    padding-left: 30px;
}

.yeeui-information:before {
    display: inline-block;
    font-family: IcoFont !important;
    content: "\efea";
    color: #52a3ff;
    margin-left: -20px;
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.yeeui-attention {
    border: 1px #ffcdb7 solid;
    border-radius: 3px;
    background: #fff2ea;
    padding: 10px;
    line-height: 20px;
    margin-bottom: 15px;
    vertical-align: middle;
    padding-left: 30px;
}

.yeeui-attention:before {
    display: inline-block;
    font-family: IcoFont !important;
    content: "\efec";
    color: #e64334;
    margin-left: -20px;
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.ifont {
    font-family: IcoFont !important
}

i.dashed {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    background-color: #fff;
}

.dashed_vvline, .dashed_vline {
    height: 34px;
    float: left;
    width: 40px;
    text-align: center;
}

.dashed_vline {
    background: center top url(../images/vline.gif) repeat-y;
}

.dashed_vvline {
    background: center top url(../images/vvline.gif) repeat-y;
}




a.yeeui-color-selecter {
    display: inline-block;
    margin-left: 5px;
    vertical-align: -5px;
    width: 24px;
    text-decoration: none;
    position:relative;
    height: 22px;
    background-image: url(../images/sdopx.color.gif);
    zoom:1;
}
a.yeeui-color-selecter div.yeeui-color-meun{
    display:block;
    top:23px;
    position: absolute;
    background-color: #F7F7F7;
    border-left: solid 1px #EEE;
    border-top: solid 1px #EEE;
    border-right: solid 1px #EEE;
    border-bottom: solid 1px #EEE;
    _border-right: solid 1px #999;
    _border-bottom: solid 1px #999;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding:5px 0;
    zoom:1;
    z-index: 1000000;
}

a.yeeui-color-selecter ul.yeeui-color-head {
    margin: 0px 5px;
    padding: 0;
    height: 28px;
    overflow:hidden;
}
a.yeeui-color-selecter ul.yeeui-color-head li{
    padding: 0 5px 0 0;
    list-style: none outside none;
    float: left;
    line-height: 18px;
    height:26px;
    overflow:hidden;
}
a.yeeui-color-selecter ul.yeeui-color-head div{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 55px;
    background-color: #000000;
    border-left: solid 1px #CCCCCC;
    border-top: solid 1px #CCCCCC;
    border-right: solid 1px #2B2B2B;
    border-bottom: solid 1px #2B2B2B;
}
a.yeeui-color-selecter ul.yeeui-color-head span{
    float: left;
    font-size: 12px;
    color: #666;
    line-height: 20px;
}
a.yeeui-color-selecter ul.yeeui-color-head input{
    margin: 0;
    padding: 0;
    border: solid 1px #999;
    height: 21px;
    font-size: 12px;
    width: 66px;
}

a.yeeui-color-selecter div.yeeui-color-body{
    margin: 0px 6px;
    *margin: 0px 5px;
    float: left;
    padding: 0px;
    font-size: 1px;
    line-height: 1px;
}

a.yeeui-color-selecter div.yeeui-color-body ul{
    width: 11px;
    padding: 0px;
    float: left;
    margin: 0;
    list-style: none outside none;
}


a.yeeui-color-selecter div.yeeui-color-body li {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    border: solid 1px #000000;
    margin-top: -1px;
    margin-left: -1px;
    width: 10px;
    height: 10px;
    *width: 12px;
    *height:12px;
    line-height: 2px;
    font-size: 2px;
    position:relative;
}

a.yeeui-color-selecter div.yeeui-color-body li.on{
    border: solid 1px #FFFFFF;
    z-index: 100;
}
